City Defense 2/Assets/Firebase
City Defense 2/BuildReports
City Defense 2/Library
*.csproj
City Defense 2/UserSettings
*.sln
City Defense 2/.idea
City Defense 2/obj
City Defense 2/Logs
City Defense 2/.vs
City Defense 2/Temp
